*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
height: 100px;
background-color: gold;
}
main{
width: 80px;
background-image: url(islomjon/nom/mg5.jpg);
background-repeat:no-repeat ;
background-size: cover;
background-position: center;
margin: 0auto;
margin-top: 5px;
display: flex;
align-items: center;
justify-content: space-around;
border-top-left-radius: 20px;
border-top-right-radius: 60px;
border-bottom-left-radius: 80px;
border-bottom-right-radius: 100px;
border-width: 30px;
border-color: lime;
border-style: double;
}
main.box{
width: 100px;
height: 50px;
background-color: yellowgreen;


}
