#m{
 background-color: yellow;
}
.m{
    width: 500px;
    background-color: aliceblue;
    margin-top: px;
    border-radius: 10px;
    margin-left: 100px;
    height: 600px
}
H1{
    position: absolute;
    font-size: 90px;
    margin-left: 700px;
    margin-top: 280px;
}
.n{
    position: absolute;
    margin-top: 320px;
    font-size: 60px;
    
    color: red;
    
}
.g{
    
}